*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    padding-left: 50px;
}

.container{
    max-width: 1100px;
    margin:20px auto;
}

header{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: aqua;
}

main{
    height:600px;
}

aside{
    float:left;
    width:30%;
    background-color: green;
    height:600px;
}

section{
    float:left;
    width:70%;
    background-color: rgb(13, 17, 13);
    height:600px;
}

footer{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: gold;
}

#box{
    width:150px;
    height:150px;
    background-color: red;
    position: relative;
    top:10px;
    left:40px;
}

#kouti{
    width:150px;
    height:150px;
    background-color: blue;
    position:fixed;
    
}

#koutaki{
    width:150px;
    height:150px;
    background-color: orange;
    position: absolute;
    top:10px;
}

#sticky{
    background-color: rgb(228, 118, 55);
    padding-top: 20px;
    padding-bottom: 20px;
    position:sticky;
    top:0;
}

ul > li{
    color:blue;
}

div p{
    background-color: yellow;
}

div ~ p{
    background-color: yellowgreen;
}

div + p{
    background-color:purple;
}