*{
    margin:0;
    padding:0;
}

#container{
    max-width: 500px;
    margin:50px auto;
    
    
}

header{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height:80px;
    border:1px solid green;
    background-color: green;
}

header h1{
    text-align: center;
    padding-top: 20px;
    color:white;
}

main{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(226, 219, 219);
}

.inputText{
    border:1px solid rgb(202, 193, 193);
    padding:10px;
    border-radius: 1px;
    width:400px;
    margin:10px 43px;
}

span{
    margin-left: 50px;
    margin-right: 40px;
    padding-right:10px;
}

.inputGender{
    margin:0px 15px;
}

.genderDiv{
    margin-top: 10px;
    margin-left: 10px;
}

.checkbox{
    margin-right: 1px;
    margin-left: 28%;
}

.submit{
    color:white;
    background-color: green;
    font-size: 20px;
    padding:1px 55px;
    margin-top: 20px;
    margin-left: 32%;
    text-decoration: none;
}

.divA{
    padding:20px 0px 30px 32%;
}